@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Droid Sans Mono, monospace;
  color: $text;
  background-color: $bg;
}

#app {
  height: 100%;
}

.selected-price {
  height: 100px;
  text-align: center;
  margin: -20px auto;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

ul {
  margin: 0;
  padding: 0;
  li:first-child {
    margin-top: 0
  }
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-55 {
  opacity: .55;
}

.order-list-entry {
  li {
    height: 13.2px;
    display: flex;
    justify-content: space-between;
    width: 220px;

    &:hover {
      background-color: $highlight
    }
    .price {
      width: 55px;
      text-align: right
    }

    .amount-component {
      text-align: right;
      width: 77.5px
    }

  }
}

.orders-list {
  height: 198px;
  display: flex;
  padding: 0 10px 0 5px;
  position: relative;

  .feed {
    position: relative;

    li {
      list-style-type: none;
      font-size: 11px;
      letter-spacing: -1px;
    }

    .feed-list {
      flex-direction: column;
      display: flex;
      height: 100%;
      min-height: 100%;
      width: 100%;
      &.asks {
        justify-content: flex-end;
      }
      &.bids {
        justify-content: flex-start
      }
    }

  }

}

.color-short {
  color: $short;
}

.color-long {
  color: $long
}

.highlight {
  background-color: $highlight;
}

.amount-component {
  white-space: nowrap;
  .weak {
    opacity: 0.75;
  }
}

.weak {
   color: $textWeak;
}

#price-ticker {
  color: $textStrong;
  text-align: center;
  font-size: 18px;
  width: 100%;
  min-height: 28px;
  line-height: 28px;
  font-family: Droid Sans Mono, monospace;
  cursor: pointer;
  &:hover {
    background-color: $cta;
  }
}
