@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
  background-color: $bg; // $background
}

#app {
  height: 100%;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.orderbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  //height: 100%
}

ul {
  margin: 0;
  padding: 0
}

#trades-feed {
  flex: 1;
  flex-direction: column;
  display: flex;
  min-height: 0;
  width: 100%
}

.sidebar_col {
  width: 238px;
  margin: 0;
  border-left: 1px solid $borderWeak;
}

.sidebar__col__cells {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__col__cell.sidebar__col__cell--fixed-height {
  flex-grow: 0;
  min-height: 426px;
  // overflow: hidden // perhaps add
}


.cursor-pointer {
  cursor: pointer;
}

.opacity-55 {
  opacity: .55;
}


// for initial render?
.order-list-placeholder {
  line-height: 200px;
  width: 100%;
  text-align: center
}

ul li:first-child {
  margin-top: 0
}

.order-list-entry {
  overflow: hidden
}

.order-list-entry-enter.order-list-entry-enter-active {
  height: 15px;
  background-color: transparent
}

.order-list-entry li {
  height: 13.2px
}

.order-list-entry li {
  display: flex;
  justify-content: space-between;
  width: 220px
}
.order-list-entry li:hover {
  background-color: $highlight
}

.order-list-entry li .price {
  width: 55px;
  text-align: right
}

.order-list-entry li .amount-component {
  text-align: right;
  width: 77.5px
}

.sidebar__col--large .order-list-entry li .amount-component {
  width: 85px
}

.feed li {
  list-style-type: none;
  font-size: 11px;
  letter-spacing: -1px;
  font-family: Droid Sans Mono, monospace
}

.orders-container {
  height: 100%;
  border-bottom: $borderWeak
}

.orders-list {
  height: 198px;
  display: flex;
  padding: 0 10px 0 5px;
}

.orders-list .feed {
  position: relative;
}

.orders-list .feed .feed-list {
  flex-direction: column;
  display: flex;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden
}

.color-short {
  color: $short;
}

//body #asks-list ul li .order-price {
//  color: $short;
//}

.highlight {
  background-color: $highlight;
}

body #asks-list ul li .order-price.emphasis:not(.highlight) {
  background-color: var(--COLOR-rgba-short-10)
}

.orders-list .feed .feed-list.asks {
  justify-content: flex-end;
}

.orders-list .feed .feed-list.bids {
  justify-content: flex-start
}

.amount-component {
  transition: color .3s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: color .3s ease-in-out, background-color .2s ease-in-out;
  -webkit-transition: color .3s ease-in-out, background-color .2s ease-in-out;
  white-space: nowrap
}


.weak {
   color: $textWeak;
}

.amount-component .weak,
.amount-component weak {
  opacity: .75
}

#price-ticker {
  color: $textStrong;
  text-align: center;
  font-size: 18px;
  width: 100%;
  min-height: 28px;
  line-height: 28px;
  font-family: Droid Sans Mono, monospace;
  overflow: hidden;
  cursor: pointer
}

#price-ticker:hover {
  background-color: $cta;
}
