$borderWeak: rgba(36,36,36,1.00);
$textStrong: rgba(204,204,204,1.00);
$short: rgba(198,6,6,1.00);
$long: rgba(0,185,9,1.00);
$short10: rgba(100,96,119,1.00);
$textWeak: rgba(153,153,153,1.00);
$cta: rgba(54,61,82,1.00);
$text: rgba(178,178,178,1.00);
$bg: rgba(0,0,0,1.00);
$oldBg: rgb(34, 36, 34);
$highlight: rgba(54, 61, 82, 03)


//--COLOR-bg: rgba(0,0,0,1.00);
//--COLOR-channel: rgba(89,106,131,1.00);
//--COLOR-text: rgba(178,178,178,1.00);
//--COLOR-alert: rgba(255,213,6,1.00);
//--COLOR-cta: rgba(54,61,82,1.00);
//--COLOR-long: rgba(0,185,9,1.00);
//--COLOR-textStrong: rgba(204,204,204,1.00);
//--COLOR-textWeak: rgba(153,153,153,1.00);
//--COLOR-ctaHighlight: rgba(75,84,114,1.00);
//--COLOR-shortFill: rgba(148,5,5,1.00);
//--COLOR-longFill: rgba(0,133,7,1.00);
//--COLOR-taLines2: rgba(120,221,228,1.00);
//--COLOR-taLines3: rgba(126,49,84,1.00);
//--COLOR-taLines4: rgba(104,157,97,1.00);
//--COLOR-taSenkouSpanA: rgba(0,82,4,1.00);
//--COLOR-taSenkouSpanB: rgba(99,3,3,1.00);
//--COLOR-transparentize-channel-75: rgba(89,106,131,0.25);
//--COLOR-taLines5: rgba(65,84,129,1.00);
//--COLOR-taLines1: rgba(224,153,81,1.00);
//--COLOR-errorBg: rgba(119,4,4,1.00);
//--COLOR-borderStrong: rgba(71,71,71,1.00);
//--COLOR-ctaWeak: rgba(32,37,49,1.00);
//--COLOR-cta-long-60: rgba(32,111,53,1.00);
//--COLOR-cta-channel-10: rgba(86,102,126,1.00);
//--COLOR-long-bg-60: rgba(0,111,5,1.00);
//--COLOR-long-channel-90: rgba(9,177,21,1.00);
//--COLOR-short-bg-30: rgba(59,2,2,1.00);
//--COLOR-short-channel-90: rgba(187,16,19,1.00);
//--COLOR-text-alert-10: rgba(247,210,23,1.00);
//--COLOR-alert-cta-60: rgba(175,152,36,1.00);
//--COLOR-bg-channel-40: rgba(53,64,79,1.00);
//--COLOR-long-channel-50: rgba(45,146,70,1.00);
//--COLOR-short-channel-30: rgba(122,76,94,1.00);
//--COLOR-text-alert-40: rgba(224,199,75,1.00);
//--COLOR-alert-bg-60: rgba(153,128,4,1.00);
//--COLOR-alert-bg-30: rgba(77,64,2,1.00);
//--COLOR-long-channel-20: rgba(71,122,107,1.00);
//--COLOR-short-channel-10: rgba(100,96,119,1.00);
//--COLOR-text-cta-10: rgba(66,73,92,1.00);
//--COLOR-alert-long-70: rgba(179,205,7,1.00);
//--COLOR-cta-bg-90: rgba(49,55,74,1.00);
//--COLOR-long-bg-50: rgba(0,93,5,1.00);
//--COLOR-short-bg-40: rgba(79,2,2,1.00);
//--COLOR-short-bg-70: rgba(139,4,4,1.00);
//--COLOR-short-channel-50: rgba(144,56,69,1.00);
//--COLOR-text-cta-40: rgba(104,108,120,1.00);
//--COLOR-cta-long-40: rgba(22,135,38,1.00);
//--COLOR-bg-channel-80: rgba(18,21,26,1.00);