$textStrong: rgba(204,204,204,1.00);
$short: rgba(198,6,6,1.00);
$long: rgba(0,185,9,1.00);
$textWeak: rgba(153,153,153,1.00);
$cta: rgba(54,61,82,1.00);
$text: rgba(178,178,178,1.00);
$bg: rgba(0,0,0,1.00);
$highlight: rgba(54, 61, 82, 03)

